/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/******General Styles******/
html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height:100%;
  text-align:left;
  color: #e2e3ed;
}

ul,
ol {
  list-style-type: none;
  padding:0;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size:1.875em;
  font-weight:500;
  margin:0;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size:1.125em;
  font-weight:400;
  margin:20px 0;
  color: #e2e3ed;
}

p {
  font-size:.875em;
  line-height:1.285em;
  color: #e2e3ed;
}

img {
  width:100%;
  height:100%;

}

figure {
  margin:0;
}

address {
  font-style:normal;
}

.content-wrapper {
  width:100%;
}


/****** base header - footer styles ******/
header,
footer {
    background-color: #202322;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.125em;
}

header nav ul {
  width: 40%;
  justify-content: space-between;
  text-transform: uppercase;
  flex-flow: row;
  display: flex;
}

header nav ul li {
    list-style-type:none;
    font-size: 1.125em;
}

header nav ul li a {
    text-decoration: none;
    width: 50%;
    font-size: 1.125em;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width:100%;
    margin:0;
}

header .content-wrapper img {
    width: 60%;
    font-size:2.25em;
    text-align: center;
    margin: 15px 70px 15px 65px;
}

.header-divider {
    width:100%;
    border:1px solid #527158;
}

/******Main Page******/
main .hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header-background.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}

.content-wrapper h1 {
    font-size: 2.25em;
    line-height: 1.25em;
    width: 85%;
    margin: 1.25rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 80%;
}

/*****This is where the Aside Area*****/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1.25em;
    background-color: #527158
}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/*****Features Area*****/
.features {
    background-image: url(../img/body-section-bg.jpg);
    background-size: cover;
    background-position: center;
}

.features .content-wrapper h2 {
    width: 85%;
    line-height: normal;
    margin: auto;
    font-size: 1.875em;
    margin-left: 8%;
    padding: 50px 0 50px 0;
    line-height: 1.25em;
}

.feature-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    margin: auto;
    text-align: center;
}

.features-feature-item  {
    width: 80%;
    margin: 30px 0 45px 0;
}

article {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 1.875em;
}

article i {
    width: 25%;
}

.features-item-description {
    width: 50%;
    text-align: center;
    padding: 1.25em;
    font-size: .875em;
}

/*****REVIEWS*****/
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #2a423a;
}

.reviews .content-wrapper h2 {
    font-size: 1.875em;
    line-height: 1.25em;
    margin: 40px 0 0 20px;
    width: 85%;
}

.reviews article img {
    width: 90%;
    margin: 1.25em;
}

.reviews .mission {
    width: 85%;
    margin: 1.25em;
    justify-content: flex-start;
    background-color: #2a423a;
}

.mission h3 {
    margin: 0;
    font-size: 1.125em;
    width: 60%;
}

.mission p {
    margin: 20px 20px 40px 0px;
    font-size: .875em;
}

/******FOOTER******/

footer {
    display:flex;
    justify-content: center;
    align-items: center;
}

footer .content-wrapper {
    width:45%
}

.social {
    text-align:center;
}

.social-icons {
    width: 60%;
    margin-bottom: 2.188em;
}

.contact h3 {
    text-align: center;
    width: 90%;
}

address {
    text-align: center;
}

/*****Copyright Here*****/
.copyright p {
    margin: 40px 80px 10px 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*****ABOUT PAGE*****/
.mission {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
}

.mission-content {
    width: 85%;
    margin: 40px 20px 40px 20px;
}

.mission-content h2 {
    width: 83%;
    font-size: 1.875em;
    line-height: normal;
}

/*****Map Figure here*****/
.map {
    width: 100%;
    height:450px;
}

/*****Contact Section on About Page*****/
.contact-section {
    background-color: #2a423a;
}

.contact-section .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-bottom: 3.125em;
}

.content-wrapper h2 {
    width: 85%;
    font-size: 1.875em;
    margin: 50px 30px 10px 20px;
    line-height:normal;
}

.contact {
    padding: 30px 0 30px 0;
}

.contact-content h3 {
    margin-left:1.25em;
}

.contact-content address p {
    margin-left:1.25em;
}

.contact-content address {
    text-align: left;
}

.contact-content p {
    margin-left:1.25em;
}

/*****FAQ PAGE*****/
.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.faq .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
    padding-bottom: 2.5em;
}

.faq .content-wrapper h2 {
    width: 80%;
    font-size: 1.875em;
    margin-left: 0;
}

.faq-content {
    width: 83%;
    margin: 0 50px 0 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {
  /*Tablet Styles Here*/
  header {
    justify-content: center;
    padding: 33px 0;
  }

  header .content-wrapper {
    width:100%;
    justify-content: space-between;

  }

  .content-wrapper a {
      width: 45%;
  }

  .content-wrapper a img {
    margin-left: auto;
    width: 60%;
    flex-flow: row;
    padding-left: 3em;
  }

  header nav {
    width: 50%;
  }

  header nav ul {
    justify-content: space-between;
    padding-left: 15%;
  }

  .header-divider {
      display:none;
  }


/*****Hero Area*****/
  .hero-area .content-wrapper {
    width: 90%;
    font-size: 1.5em;
  }

  aside .content-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: auto;
    width: 85%;
  }

  .content-wrapper h1 {
    font-size: 2.25em;
    line-height: normal;
    width: 80%;
    margin: 1.25em;
    padding-bottom: 50%;
  }

  .form-description {
    width:35%;
    margin-right:10%;
  }

  .form-description h3 {
      font-size: 1.5em;
  }

  .form-description p {
      font-size: 0.875em;
  }

  .form {
    width: 50%;
  }

  .form h3 {
      font-size: 1.5em;
  }


/*****FEATURES ARTICLE*****/
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 40%;
  }

  .features .content-wrapper h2 {
    padding-left: 3.25em;
    margin-bottom: 1em;
  }

  .features-feature-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }


  /*****REVIEWS*****/

  .reviews article {
    justify-content: flex-start;
    width: 100%;
    display: flex;
  }

  article h3,
  article p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
  }

  .reviews .mission {
     width: 50%;
     margin:0;
  }

  .reviews
  .content-wrapper h2 {
      width: 60%;
  }

  .reviews .content-wrapper p {
    text-align: left;
    width: 100%;
    margin: 10px 60px 0 10px;
  }

  .reviews .content-wrapper h3 {
      width: 90%;
  }

  .reviews .content-wrapper {
      justify-content: space-around;
      margin: 90px 60px 90px 60px;
  }

  .reviews .content-wrapper img {
    width: 40%;
    height:250px;
  }

/*****FOOTER*****/
  .footer-content {
    width: 60%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin:100px 0;
  }

  footer .content-wrapper {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }

  .contact h4 {
    font-size: 1.5em;
    margin: 1.875em;
  }

  .social h4 {
    font-size:1.5em;
    margin: 1.875em;
  }

  .contact p {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .social-icons {
    height:1em;
  }

  .social-icons a {
      width: 3.75em;
  }

/****ABOUT PAGE*****/
  .mission-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top:1.25em;
  }

  .content-wrapper h2 {
    width: 65%;
    font-size: 2.25em;
    margin-left: 3.75em;
    line-height: normal;
    margin-bottom: 0;
  }

  .mission-content p {
    width:45%;
  }

  .contact-section .content-wrapper h2 {
    width: 60%;
    font-size: 2.25em;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 90px 40px;
    width:70%;
}

  .contact-content h3 {
    margin:1em;
  }

/*****FAQ PAGE*****/
  .faq-content {
    flex-basis: 35%;
    margin-top: 1em;
  }

  .faq .content-wrapper h2 {
    width: 100%;
    font-size: 2.25em;
    }
}

@media only screen and (min-width:1200px) {
  /*Desktop Styles Here*/
  .content-wrapper a {
    width: 50%;
  }

  .content-wrapper a img {
    width: 50%;
    flex-flow: row;
    padding-left: 3.75em;
    margin-left: 10%;
  }

  header nav {
    width: 50%;
    justify-content: space-around;
  }

  header nav ul {
    justify-content: space-around;
    margin: 30px 100px;
    padding-left: 30%;
  }

  header nav ul li {
    font-size: 1.125em;
  }

  .content-wrapper h1 {
    font-size: 3.75em;
    line-height: normal;
    width: 60%;
    margin: 5%;
    padding-bottom: 50%;
  }

/****ASIDE AREA HERE*****/
  aside .content-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 80%;
  }

  .form-description h3 {
    font-size: 1.875em;
    line-height: normal;
  }

  .form-description p {
    font-size: 1.125em;
  }

  .form h3 {
    font-size: 1.875em;
  }

  input {
    width: 90%;
    text-align: left;
    font-size: 1.5em;
  }

/*****FEATURES AREA HERE*****/
  .features .content-wrapper h2 {
    padding-left: 10%;
    width: 60%;
    font-size: 2.25em;
  }

  .features-feature-items {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin: auto;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 30%;
  }

/*****REVIEWS AREA HERE*****/
  .reviews .content-wrapper {
    justify-content: space-around;
    margin: 90px 120px 100px 120px;
  }

  .reviews .content-wrapper h2 {
    width: 100%;
    font-size: 2.25em;
    padding-bottom: 7%;
  }

  .reviews article {
    justify-content: space-around;
    width: 100%;
    display: flex;
  }

  .reviews .content-wrapper img {
    width: 40%;
    height: 300px;
  }

  .reviews .content-wrapper h3 {
    width: 60%;
    font-size: 1.875em;
    line-height: normal;
  }

  .reviews .content-wrapper p {
    text-align: left;
    width: 70%;
    font-size: 1.125em;
  }

/*****CONTACT AREA HERE*****/
  .contact h4 {
    font-size: 1.875em;
  }

  .contact p {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.125em;
  }

  .social {
    text-align: center;
    width: 30%;
  }

  .social h4 {
    font-size: 1.875em;
  }

/*****FOOTER HERE*****/
  .copyright p {
  margin: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  }

/*****ABOUT PAGE AREA HERE*****/
  .content-wrapper h2 {
  width: 65%;
  font-size: 3em;
  margin-left: 10%;
  line-height: normal;
  }

/*****Mission Content here*****/
  .mission-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
  }

  .mission-content p {
    width: 38%;
    font-size: 1.125em;
  }

/*****Contact Info here*****/
  .contact-section .content-wrapper h2 {
    width: 80%;
    font-size: 3em;
  }

  .contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    padding: 30px 0;
  }

  .contact-one {
    width: 50%;
    margin-left: 10%;
  }

  .contact-two {
    padding-bottom: 3%;
    width: 50%;
  }

  .contact-content h3 {
    font-size: 1.875em;
  }

  .contact-content address p {
    margin-left: 1.25em;
    font-size: 1.125em;
  }

/*****FAQ PAGE HERE*****/
  .faq .content-wrapper h2 {
    width: 100%;
    font-size: 3em;
  }

  .faq-content {
    flex-basis: 35%;
    margin-top: 1em;
    margin-left: 10%;
    width: 30%;
  }

  .faq-content h4,
  .faq-content p {
    font-size: 1.125em;
    width:90%;
  }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
